.details__calendar-wrapper {
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px solid $color-lightgray;
}

.details__table-wrapper {
  @include scroll-wrapper;
  font-size: $base-size - 2;
  padding: 10px;
  margin-top: 40px;
}
