.general__calendar-wrapper {
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px solid $color-lightgray;
  margin-top: 20px;
}

.widgets {
  margin-top: 40px;
}

.widgets__items-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  padding-left: 0;
}

.widgets__list-item {
  min-width: 30%;
  flex: 1;
  margin-right: 4%;
  margin-top: 20px;
}

.widgets__list-item-inner {
  display: inline-flex;
  border-bottom: 1px solid $color-gray;

  h2 {
    flex: 0 0 80%;
    margin: 0;
    padding-bottom: 5px;
  }
}

.widgets__input-wrapper {
  flex: 0 0 20%;

  label {
    display: none;
  }
}

.widgets__input {
  border: none;
  width: 100%;
  text-align: end;
}
 
.chart {
  max-width: 70%;
  margin: 60px auto 0 auto;

  img {
    margin: 40px 0;
    width: 100%;
  }
}

/* Media */
@media (max-width: 767px) {
  .widgets__items-list {
    flex-direction: column;
    width: 100%;
  }

  .widgets__list-item {
    margin-right: 0;
  }

  .widgets__list-item-inner {
    display: flex;
  }
}