/* Global */

body {
  font-family: $font-main;
  font-weight: 300;
  color: $color-dark;
  margin: 0
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: $base-size + 2;
  text-transform: uppercase;
  color: #a6a6a6;
  font-weight: 500;
}

h2 {
  font-size: $base-size + 2;
  color: #a6a6a6;
  font-weight: 700; 
}

p {
  font-size: $base-size;
  font-family: $font-main;
}

a {
  color: $color-blue;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $color-main;
  }
}

input {
  cursor: pointer;
}

ul {
  list-style-type: none;
}