#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.naviation-wrapper {
  position: relative;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid $color-gray;
  z-index: 3;
}

.sidebar {
  position: fixed;
  width: 190px;
  background: #191919;
  left: 0;
  top: 50px;
  height: 100vh;
  z-index: 3;
}

.page {
  margin: 50px 0 0 190px;
}

@media (max-width: 767px) {
  .naviation-wrapper {
    height: 500px;
  }

  .topbar {
    height: auto;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .navigation {
    display: none;
  }

  .navigation.active {
    display: block;
  }

  .page {
    margin: 50px  auto 0 auto;
  }
}