.header {
  position: fixed;
  top: 0;
  left: 190px;
  height: 50px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid $color-gray;
  z-index: 9999;
}

.menu-aside {
  position: fixed;
  width: 190px;
  background: #191919;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 9999;
}

.main {
  margin: 50px 0 0 190px;
}

@media (max-width: 767px) {
  .header {
    position: unset;
    height: auto;
  }

  .menu-aside {
    width: 100%;
    height: auto;
  }

  .navigation {
    display: none;
    background: #191919;

    &.active {
      display: block;
    }
  }

  .main {
    margin: 50px  auto 0 auto;
  }
}