@mixin btn($bg, $bg-hov, $col, $col-hov, $min-wd) {
  min-width: $min-wd;
  height: 40px;
  background: $bg;
  text-align: center;
  border-radius: $radius-sm;
  color: $col;
  font-size: $base-size + 4;
  display: inline-block;
  padding: 10px;

  &:hover {
    color: $col-hov;
    background: $bg-hov;
  }
}

@mixin tabs($bg) {
  @include btn (#fff, $color-lightgray, $color-gray, $color-gray, 40px);
  position: relative;

  span {
    width: 100%;
    padding-left: 40px;
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    content: '';
    width: 20px;
    height: 20px;
    border-radius: $radius-circle;
    background: $bg;
  }

  &:active {
    background: $color-lightgray;
  }
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.no-spacing {
  padding: 0;
  margin: 0;
}