@mixin btn($bg, $bg-hov, $col, $col-hov, $min-wd) {
  min-width: $min-wd;
  height: 20px;
  background: $bg;
  text-align: center;
  border-radius: $radius-sm;
  color: $col;
  font-size: $base-size + 4;
  display: inline-block;
  padding: 10px;

  &:hover {
    color: $col-hov;
    background: $bg-hov;
  }
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}