/* Buttons */
.btn-primary {
  @include btn ($color-main, $color-main-hov, $color-light, $color-light, 126px);
}

.btn-secondary {
  @include btn ($color-darkgray, $color-gray, $color-light, $color-light, 126px);
}

.btn-disabled {
  @include btn ($color-lightgray, $color-lightgray, $color-light, $color-light, 200px);

  div {
    display: flex;

    span:first-of-type {
      flex: 0 0 20%;
    }
  
    span:last-of-type {
      flex: 0 0 80%;
      padding-left: 5px;
    }
  }
}

.icon-refresh {
  width: 20px;
  height: 20px;
  background: $color-main;
  display: inline-block;
  padding: 10px;
  text-align: center;
  border-radius: $radius-sm;
  color: $color-light;

  &:hover {
    background: $color-main-hov;
  }
}

/* Inputs */

.element--calendar {
  display: inline-flex;

  a {
    margin-left: 3px;
  }
}

.calendar-input-wrapper {
  border: 1px solid $color-gray;
  border-radius: $radius-sm;
  position: relative;
  height: 20px;
  min-width: 325px;
  display: inline-flex;
  padding: 10px;

  label {
    display: none;
  }

  input {
    padding-left: 10px;
  }

  input:first-of-type {
    flex: 2;
    border-width: 0 1px 0 0;
    border-color: $color-gray;
  }

  input:last-of-type {
    flex: 2;
    border: 0;
  }

  span {
    flex: 1;
    position: relative;
    width: 40px;

    i{
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      color: $color-gray;
    }
  }

  &:hover {
    border-color: $color-dark;

    i {
      color: $color-dark;
    }
  }
}

/* List */
.element--list {
  margin: 0 auto;
  padding: 0;
}

.list { //ul
  max-width: 70%;
}

.list-item { //li
  display: flex;
 
  & .list-item-inner{ //div
    display: inline-flex;
    border-bottom: 1px solid $color-gray;

    h2 {
      flex: 0 0 80%;
      margin: 0;
      padding-bottom: 5px;
    }
  }
}

.list-widget { //div
  flex: 0 0 20%;

  label {
    display: none;
  }

  input {
    border: none;
    width: 100%;
    text-align: end;
  }
}

/* Tabs */
.tab-one{
  @include tabs(#80bfca);
}

.tab-two {
  @include tabs($color-main);
}

/* Tables */
.element--table {
  margin: 40px auto;
  width: 80%;
} 

.table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    border-bottom: 1px solid $color-gray;
    border-top: 1px solid $color-gray;
  }

  tr:hover {
    background: $color-lightgray;
  }
}