/* Buttons */  //further rename
.btn-primary {
  @include btn ($color-main, $color-main-hov, $color-light, $color-light, 126px);
}

.btn-secondary {
  @include btn ($color-darkgray, $color-gray, $color-light, $color-light, 126px);
}

.btn-disabled {
  @include btn ($color-lightgray, $color-lightgray, $color-light, $color-light, 200px);

  div {
    display: flex;

    span:first-of-type {
      flex: 0 0 20%;
    }
  
    span:last-of-type {
      flex: 0 0 80%;
      padding-left: 5px;
    }
  }
}

.icon-refresh {
  width: 20px;
  height: 20px;
  background: $color-main;
  display: inline-block;
  padding: 10px;
  text-align: center;
  border-radius: $radius-sm;
  color: $color-light;

  &:hover {
    background: $color-main-hov;
  }
}

/* Calendar */
.calendar {
  display: inline-flex;
}

.calendar__input-wrapper {
  border: 1px solid $color-gray;
  border-radius: $radius-sm;
  position: relative;
  height: 20px;
  width: 100%;
  display: flex;
  padding: 10px;

  label {
    display: none;
  }

  &:hover {
    border-color: $color-dark;
  
    i {
      color: $color-dark;
    }
  }
}

.calendar__input {
  padding-left: 10px;

  &:first-of-type {
  flex: 2;
  border-width: 0 1px 0 0;
  border-color: $color-gray;
  }

  &:last-of-type {
  flex: 2;
  border: 0;
  }
}

.calendar__icon-wrapper {
  flex: 1;
  position: relative;
  width: 40px;
}

.calendar__icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: $color-gray;
}

.calendar__btn {
  margin-left: 15px;
}

/* Tabs */
.tab-one{
  @include tabs(#80bfca); //further rename
}

.tab-two {
  @include tabs($color-main); //further rename
}

/* Media */
@media (max-width: 767px) {

  .calendar {
    font-size: $base-size;
    display: flex;
    flex-direction: column;
  }

  .calendar__input-wrapper {
    padding: 10px 0 10px 0;
    display: block;
    margin: 0 auto;
  }

  .calendar__btn {
    margin: 10px auto  auto auto;
    padding: 0;
  }

  .calendar__icon-wrapper {
    display: none;
  }
}