.table-wrapper {
  margin: 40px auto 0 auto;
  width: 80%;
  padding: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__row {
  border-bottom: 1px solid $color-gray;

  &:hover {
    background: $color-lightgray;
  }
}

.table__row:first-of-type {
  border-top: 1px solid $color-gray;
}

.table__element {
  padding: 10px 5px;
}

/* Media */
@media (max-width: 767px) {
  .table-wrapper {
    margin: 0;
    width: 100%;
  }
}