/* header */
.logo {
  display: flex;
  background: #191919;
  width: 190px;
  margin-right: auto;
}

.logo__title {
  flex: 4;
  padding: 5px 15px;
  color: $color-light;
}

.logo__mobile-menu-link {
  color: $color-light;

  &:hover {
    color: $color-main;
  }
}

.logo__icon {
  flex: 1;
  font-size: 20px;
  padding: 15px;
  display: none;
}

.topbar {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;

  i {
    padding: 15px;
  }
}

.topbar__navigation {
  display: inline-flex;
}

.topbar__price-widget,
.topbar__profile-widget {
  padding: 15px 0;
  border-left: 1px solid $color-lightgray;
}

.topbar__profile-widget {
  padding-right: 15px;
}

.topbar__link {
  padding: 15px 0;
}

.topbar .icon-notification { //further rename
  border-left: 1px solid $color-lightgray;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: $radius-circle;
    background: $color-main;
    top: 13px;
    right: 13px;
  }

  &:hover {
    color: $color-main;
  }
}

.topbar .icon-quit {  //further rename
  border-left: 1px solid $color-lightgray;

  &:hover {
    color: $color-main;
  }
}

/* Media */
@media (max-width: 767px) {
  .logo {
    width: 100%;
  }

  .logo__icon {
    display: block;
  }

  .topbar {
    display: block;
    width: 100%;
  }

  .topbar__navigation {
    position: absolute;
    width: 100%;
    top: 322px;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #bababa;
    display: none;

    &.menu--active {
      display: block;
    }
  }
}
