/* header */
.topbar {
  width: calc(100% - 190px);
  display: inline-flex;
  justify-content: flex-end;

  i {
    padding: 15px;  
  }
}

.topbar__price-widget, 
.topbar__profile-widget {
  padding: 15px 0;
  border-left: 1px solid $color-lightgray;
}

.topbar__profile-widget {
  padding-right: 15px;
}

.topbar__link {
  padding: 15px 0;
}


.topbar .icon-notification { //further rename
  border-left: 1px solid $color-lightgray;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: $radius-circle;
    background: $color-main;
    top: 13px;
    right: 13px;
  }
}

.topbar .icon-quit {  //further rename
  border-left: 1px solid $color-lightgray;
}

/* Media */
@media (max-width: 767px) {
  .topbar {
    display: block;
    width: 100%;
  }
}